{% extends 'base.html' %}
{% block content %}
{% for game in games_list %}
<div class="row">
    <img class="brawl" alt="logo" src="{{ game.mainphoto }}">
</div>
<br><br><br><br>
{% endfor}
{% for post in post_list %}
<div class="row">
    <div class="col-5">
        <img class="float-left firstline"
            src="{{ post.photo }}">
    </div>
    <div class="col-7">
        <h1 class="text1">{{ post.title }}</h1>
        <p style="font-size: 20px;">
                {{ post.text }}
        </p>

    </div>
</div>
<br>
{% endfor %}
{% for game in games_list %}
<div class="row">
    <div class="col-5">
    </div>
    <div class="col-7">
        <a href="{{ game.playstore }}" target="_blank"><img
                class="download" src="https://play.google.com/intl/en_us/badges/images/badge_new.png"></a>
        <a href="{{ game.appstore }}" target="_blank"><img class="download"
                src="https://i.stack.imgur.com/xHgSL.png"></a>
    </div>
</div>
{% endfor %}
{% endblock %}