{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
         <div class="container-fluid">
            <img class="brawl" alt="logo" src="https://cdn.supercell.com/supercell.com/190216103148/supercell.com/files/styles/hero_image_large/public/bg_hero_frontpage.jpg?itok=0oQ2Uxxa&timestamp=1544480104">
            <div class="centered">
                <h1 class="">SUPERCELL</h1>
                <p class=""> Makers of Brawl Stars, Clash Royale,</p>
                <p>Boom Beach, Clash of Clans and Hay Day.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}